@charset "UTF-8";

/* SASS Mixins */

@mixin clearfix {
  
  &:after {
    content: "";
    display: block;
    clear: both;
  } 
}

@mixin minor-text {
  font: italic .75rem Georgia, 'Times New Roman', Times, serif;
}

@mixin icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transition-colors {
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}