@charset "UTF-8";

/* CSS Document */

/*-----------------------------------------
>>> TABLE OF CONTENTS:
-------------------------------------------

01  BASE STYLE
    - Typography
    - Forms
    - Tables
    
02  TWENTY SEVENTEEN RESETS

03  GLOBAL CONTENT & SITE STRUCTURE
    - Structure
    - Pages
    - Articles

04  HEADER
    - Site title
    - Main navigation

05  FOOTER

--  MEDIA QUERIES
    
------------------------------------------*/

@import "mixins.scss";
@import "variables.scss";
@import "base.scss";
@import "twenty17_resets.scss";


/*  ---------------------------------------
    03 GLOBAL CONTENT & SITE STRUCTURE
----------------------------------------- */

/* --- Structure --- */

.site-content {
  margin-top: 10px;
  padding: 0;
}

.panel-content .wrap {
  padding: 0;
  width: 100%;
}

.site-main {
  @include clearfix;
  border-top: 1px solid #000;
  padding-top: 6px;
}

#primary.col,
#secondary.col {
  @include clearfix;
  
  padding-left: 5px;
	padding-right: 5px; 
}

/* --- Icons --- */

.fa-icon {
  border: 0;
  position: relative;
  
  &:before {
    @include icon;
  }
}
.fa-icon.btn-icon {
  
  &:before {
    background: $primary-color;
    border-radius: 50%;
    border: 0;
    color: #fff;
    display: inline-block;
    font: normal .875em/24px FontAwesome;
    height: 24px;
    margin-right: .5em;
    text-align: center;
    transition: all .2s ease-in-out;
    vertical-align: middle;
    width: 24px;
  }
  
  & > .label {
    @include minor-text;
    border-bottom: 1px dotted #000;
    transition: all .2s ease-in-out;
    vertical-align: middle;
  }
  
  &:hover > .label {
    border-bottom-style: solid;
  }
  
  &:hover:before {
    background: $color-alt;
  }
}

.fa-icon.print:before {
  content: "\f02f";
}
.fa-icon.feed:before {
  content: "\f09e";
}
.fa-icon.share:before {
  content: "\f1e0";
}
.fa-icon.information:before {
  content: "\f129";
}
.fa-icon.question:before {
  content: "\f128";
}
.fa-icon.mail:before {
  content: "\f0e0";
}
.fa-icon.podcast:before {
  content: "\f2ce";
}
.fa-icon.contact:before {
  content: "\f007";
}
.fa-icon.group:before {
  content: "\f0c0";
}
.fa-icon.check:before {
  content: "\f00c";
}
.fa-icon.cross:before {
  content: "\f00d";
}
.fa-icon.plus:before {
  content: "\f067";
}
.fa-icon.comment:before {
  content: "\f075";
}
.fa-icon.edit:before {
  content: "\f040";
}
.fa-icon.download:before {
  content: "\f019";
}
.fa-icon.file:before {
  content: "\f15b";
}
.fa-icon.file-pdf:before {
  content: "\f1c1";
}
.fa-icon.files:before {
  content: "\f0c5";
}
.fa-icon.stats:before {
  content: "\f080";
}
.fa-icon.showall:before {
  content: "\f06e";
}
.fa-icon.time:before {
  content: "\f017";
}
.fa-icon.url:before {
  content: "\f0c1";
}
.fa-icon.hierarchy:before {
  content: "\f0e8";
}
.fa-icon.bullseye:before {
  content: "\f05b";
}
.fa-icon.accred:before {
  content: "\f084";
}
.fa-icon.data:before {
  content: "\f233";
}
.fa-icon.up:before {
  content: "\f077";
}
.fa-icon.down:before {
  content: "\f078";
}
.fa-icon.previous:before {
  content: "\f053";
}
.fa-icon.next:before {
  content: "\f054";
}
.fa-icon.go-to-start:before {
  content: "\f100";
}
.fa-icon.go-to-end:before {
  content: "\f101";
}

// Social icons

a[class*="a2a_button_"] {
  @include transition-colors;
  background: #999c98;
  border-radius: 50%;
  color: #fff;
  font-size: 14px !important;
  height: 26px;
  margin: 0 6px 0 0;
  padding: 0 !important;
  width: 26px;
  
  svg,
  .a2a_svg {
    display: none;
  }
  
  &:before {
    @include icon;
    height: inherit;
    line-height: 26px;
    text-align: center;
    width: inherit;
  }
    
  &:hover {
    background: #ae0010;
  }

}

a.a2a_button_{
  
  // Facebook
  &facebook {
    &:before {
      content: "\f09a";
    }
    &:hover {
      background: #3b5998;
    }
  }
  
  // Twitter
  &twitter {
    &:before {
      content: "\f099";
    }
    &:hover {
      background: #00b6f1;
    }
  }
  
  // LinkedIn
  &linkedin {
    &:before {
      content: "\f0e1";
    }
    &:hover {
      background: #007bb6;
    }
  }
  
  // Google +
  &google_plus {
    &:before {
      content: "\f0d5";
    }
    &:hover {
      background: #df4a32;
    }
  }
  
  // Email
  &email {
    &:before {
      content: "\f0e0";
    }
  }
  
}

/*  ---------------------------------------
    04 HEADER
----------------------------------------- */

/* --- Site title --- */

.site-header {
  background: #fff;
  
  a {
    border: 0;
    
    &::hover {
      color: $primary-color;
    }
  }
}
.site-branding {
  margin-bottom: 0 !important;
}
.site-title {
  font-family: Impact, Arial, sans-serif;
  font-size: 1.625em /* 26px */;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.site-description {
  display: none;
}

/* --- Main navigation --- */

.nav,
.nav ul {
  padding-left: 0;
}

.navigation-top {
  background: $primary-color;
  border: 0;
}
.menu-toggle {
  color: #fff;
  padding: .5em 1em;
}
.main-navigation .menu {
  border-top: 0;
  border-bottom: 1px solid #000;
  padding-top: 6px;
  padding-bottom: 6px;
  
  li {
    border-bottom: 1px solid #000;
    margin: 0;
    
    &:last-child {
      border-bottom: 0;
    }
  }
  
  a {
    padding: .5em;
  }
}

.main-navigation .current-menu-item,
.main-navigation .current_page_item {
  background: #000;
  
  & > a {
    color: #fff;
  }
}

.main-navigation li.link-home a:before {
  content: "\f015";
  font: normal normal normal 14px/1 FontAwesome !important;
  margin-right: .5em;
}

/* --- Sub menu --- */

.dropdown-toggle {
  color: #fff;
  padding: 2px .5em;
  right: 0;
}

.main-navigation .sub-menu {
  padding-bottom: 10px;
}

/*  ---------------------------------------
    05 SIDEBAR
----------------------------------------- */

#secondary {
  padding-top: 0;
}

/* Secondary navigation */

// Hide all pages, and show only the ones related to the current page (parent, ancestors, siblings, etc)

.sidebar .nav > li.menu-item {
  
  // Hide the top level item of the current page ancestry
  & > a {
    display: none;
  }
}

// Generic nav styles

.sidebar .nav {
  list-style: none;
  margin: 0 0 40px;
  
  a {
    background: $primary-color;
    border: none;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 3px 20px;
    
    &:hover {
      background: $color-alt;
    }
  }
  
  li {
    border-bottom: 1px solid #fff;
    margin: 0;
    position: relative;
    
    &.current_page_item {
      
      a {
        background: #000;
        color: #fff;
      }
    }
  }
  
  & > .menu-item {
    margin-bottom: 10px;
  }
}

.sidebar .sub-menu {
  border-top: 1px solid #fff;
  list-style: none;
  margin: 0;
}

// Select top menu item
.sidebar .nav > .menu-item {
  
  // 2nd level children
  .sub-menu .sub-menu {
    border-top: 1px solid #fff;
    
    li {
      border-bottom: 1px solid #a3a3a3;
      color: #000;
      
      &:last-child {
        border: 0;
      }
    }
    
    a {
      background: #fff;
      color: #000;
      font-weight: bold;
      padding-left: 40px;
      
      &:hover {
        background: $light-grey;
      }
    }
    
    
    // 3rd level children
    ul li {
      border: none;
      
      a {
        padding-left: 60px;
      }
    }
    
  }
}
.sidebar .nav li.current_page_item > a {
  background: #000 !important;
  color: #fff !important;
}

.sub-menu-control {
  
  @include icon;
  
  background: transparent;
  color: #fff;
  height: 20px;
  padding: 0;
  position: absolute;
  top: 1px; right: auto; bottom: auto; left: 0;
  width: 20px;
  
  &:hover {
    background: transparent;
  }
  
  &:before {
    content: "\f105";
  }
  .open > &:before {
    content: "\f107";
  }
  
  .sub-menu .sub-menu & {
    color: #000;
    left: 20px;
  }
  
}
.sub-menu .sub-menu .sub-menu-control {
  color: #000;
  left: 20px;
}

/* Widgets */

.sidebar .widget {
  margin-bottom: 40px;
  padding: 0;
}

.sidebar .widget-title {
  border-bottom: 1px solid #000;
  color: #000;
  font: normal 1.375em/1.2em Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif;
  letter-spacing: 0.1em;
  margin-bottom: .5em;
  text-transform: uppercase;
  padding: 1px 0 4px 1px;
}

/* Colored text box */

@mixin colored-text-box {
  background-color: $primary-color;
  color: #fff;
  padding: 8px 10px;
  
  .widget-title {
    border: none;
    color: #fff;
    font: bold 1.125em "Arial black", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 0;
    text-transform: none;
  }
}

.sidebar .home-panel {
  @include colored-text-box;
}

/*  ---------------------------------------
    06 PRIMARY CONTENT
----------------------------------------- */

/* Toolbar */

.toolbar {
  height: 28px;
  margin-bottom: 8px;
}

.social-share .label {
  display: inline-block;
  font: italic .75em Georgia, 'Times New Roman', Times, serif;
  margin: 0 .5em 0 0;
  vertical-align: middle;
}

/* Page title */

.site-main .entry-header .entry-title,
.site-main .entry-header h1.entry-title {
  font-family: "Arial black", Arial, Helvetica, sans-serif;
  font-size: 1.6875em;
  letter-spacing: normal;
  line-height: 1.4em;
  text-transform: none;
}

/* --- Page content --- */

/* Publications */

.publication {
  border-bottom: 1px dotted #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  
  &:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .links {
    @include minor-text;
    
    a {
      margin-right: .5em;
    }
  }
}


/*  -----------------------------------------------------------

	Media Queries - Mobile phones (> 480px)

------------------------------------------------------------ */

@media screen and (min-width: 30em) {
  
  /*  ---------------------------------------
    04 HEADER
  ----------------------------------------- */
  
  /* --- Site title --- */
  
  .site-branding {
    padding: 1em 0;
  }
  
}

/*  -----------------------------------------------------------

	Media Queries - Small desktop & vertical tablets (> 768px)

------------------------------------------------------------ */

@media screen and (min-width: 48em) {
  
  /*  ---------------------------------------
    03 GLOBAL CONTENT & SITE STRUCTURE
  ----------------------------------------- */
  
  #primary.col,
  #secondary.col {
    padding-left: 7px;
  	padding-right: 8px; 
  }
  
  #secondary {
    font-size: 1rem;
  }
  
  /*  ---------------------------------------
    04 HEADER
  ----------------------------------------- */
  
  /* --- Site title --- */
  
  .site-branding {
    padding: 30px 0;
  }
  
  .custom-header {
    margin-bottom: 0 !important;
  }
  
  /* --- Main navigation --- */
  
  .navigation-top {
    background: #fff;
    font-size: 1em;
    position: static;
    
    .wrap {
      padding: 0 3em;
    }
    
    nav {
      margin: 0;
    }
  }
  .main-navigation {
    background: $primary-color;
  }
  
  .main-navigation .menu {
    border: 0;
    height: 24px;
    padding: 0;
  }
  
  .main-navigation .menu li {
    border: solid $primary-color;
    border-width: 0 1px;
    display: block;
    float: left;
    height: inherit;
    margin: 0;
    vertical-align: top;
    
    &:first-child {
      border-left-width: 0 !important;
    }
    
    &:hover {
      border-color: #fff;
    }
    
    a {
      color: #fff;
      display: block;
      height: inherit;
      line-height: 24px;
      overflow: hidden;
      padding: 0 8px;
      
      &:hover {
         background: $color-alt;
       }
    }
  }
  .main-navigation .menu li.current-menu-item,
  .main-navigation .menu li.current_page_item {
    border-color: #fff;
    
    & > a {
      background: #000;
      color: #fff;
    }
  }
  
  .main-navigation li.link-home {
    text-indent: -3333px;
    
    a {
      min-width: 30px;
      
      &:before {
        position: relative;
        left: 3333px;
      }
    }
  }
  
  /* --- Sub menu (dropdown) --- */
  
  .main-navigation .menu li.current-menu-ancestor,
  .main-navigation .menu li.current-menu-ancestor,
  .main-navigation .menu li.current-menu-parent,
  .main-navigation .menu li.current_page_ancestor {
    background: #000;
    border-color: #fff;
  }
  
  .main-navigation .sub-menu {
    border: 1px solid #000;
    border-top-width: 0;
    padding-top: 1px;
    padding-bottom: 0;
  }
  
  .main-navigation .sub-menu li {
    background: #fff;
    border: 0;
    
    &:hover {
      background: #fff;
    }
    
    &.menu-item-has-children .icon {
      display: none;
    }
    
    a {
      color: #000;
      line-height: 1.4em;
      margin: 0 1px 1px;
      padding: 2px 8px;
      
      &:hover {
        background: $light-grey;
      }
    }
  }
  
  .main-navigation .menu li:hover .sub-menu {
    left: 0;
  }
  
  .main-navigation .sub-menu li.focus > a,
	.main-navigation .sub-menu li:focus > a,
	.main-navigation .sub-menu li:hover > a,
	.main-navigation .sub-menu li a:hover,
	.main-navigation .sub-menu li a:focus {
  	color: #000;
	}
  
  .sub-menu .sub-menu {
    border: 0;
    left: 0;
    position: static;
    
    a {
      font-weight: 400;
    }
  }
  
}

/*  -----------------------------------------------------------

	Media Queries - Desktop > 1024px

------------------------------------------------------------ */

@media screen and ( min-width: 64em ) {
  
  /*  ---------------------------------------
    03 GLOBAL CONTENT & SITE STRUCTURE
  ----------------------------------------- */
  
  .wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 980px;
  }
  
  #primary.col,
  #secondary.col {
    padding-left: 10px;
  	padding-right: 10px; 
  }
  
  /*  ---------------------------------------
    04 HEADER
  ----------------------------------------- */
  
  /* --- Main navigation --- */
  
  .navigation-top .wrap {
    padding: 0;
  }
  
  /*  ---------------------------------------
    06 PRIMARY CONTENT
  ----------------------------------------- */
  
  /* Page title & content */
  
  .entry-header,
  .entry-content {
    padding-right: 35px;
  }
  
}

/*# temp breadcrumbs css */

#breadcrumbs{
    list-style:none;
    margin:5px 0;
    overflow:hidden;
}
  
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}
  
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}